@font-face {
    font-family: Karate;
    src: url(./fonts/Karate.ttf);
}

html,body {
	margin:0;
	font-family: 'ROBOTO';/*fantasy;*/
	background-color: #e4e4e2;
}

.row-cards{
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

@media (min-width: 800px) {
	.row-cards{
		margin-right: clamp(2.5em, 2.8em, 3.5em);
		margin-left: clamp(2.5em, 2.8em, 3.5em);
	}
}

.ccard{
	/*margin-left: clamp(1em, 1.2em, 1.5em);*/
	margin-bottom: 1em;
}

.model-name{
    width: 200px;
}
.title-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}


.title {
	font-family: 'Karate', cursive;
	font-size:30pt;
	font-weight:normal;
	
	margin-block-start: 0.5em;
	margin-block-end:0;
}

.title-header {
	width:100%;
	text-align: center;
	background-color: #FF4500;
}
.project-title {
	font-size:16pt	
}

.image-container{
    background-size: contain;
    background-repeat: no-repeat;
}
.filter {
	font-family:arial;
	padding: 6px 6px;
	cursor:pointer;
	border-radius: 6px;
	transition: all 0.35s;
}

.filter.active {
	box-shadow:0px 1px 3px 0px #00000026;
}

.filter:hover {
	background:lightgray;
} 

.projects {
	margin-bottom:50px;
	margin-top:25px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.projects-enter {
	transform: scale(0.5) translatey(-80px);
	opacity:0;
}

.projects-leave-to{
	transform: translatey(30px);
	opacity:0;
}

.projects-leave-active {
	position: absolute;
	z-index:-1;
}

.circle {
	text-align:center;
	position:absolute;
	bottom:-38px;
	left:40px;
	width:100px;
	height:100px;
	border-radius:50px;
/* 	border:1px solid black; */
	display:flex;
	box-shadow: 0px -4px 3px 0px #494d3257;
	justify-content:center;
	align-items:center;
	/*background-color:#fff;*/
	/*background-color: var(--project.category);*/
/* 	box-shadow:0px -3px 3px #484848a6; */
}

.project {
	transition: all .35s ease-in-out;
	margin:10px;
	box-shadow:0px 2px 8px lightgrey;
	border-radius:3px;
	width:180px;
	height:200px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.project-image-wrapper {
	position:relative;
}

.gradient-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:150px;
	opacity:0.09;
	/*background: 
		linear-gradient(to bottom, rgba(0,210,247,0.65) 0%,rgba(0,210,247,0.64) 1%,rgba(0,0,0,0) 100%), 
		linear-gradient(to top, rgba(247,0,156,0.65) 0%,rgba(247,0,156,0.64) 1%,rgba(0,0,0,0) 100%);*/
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.project-image {
	/*width:100%;*/
	max-width:100%;
	height:150px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}


/*
.search-wrapper {
    position: relative;
    label {
      position: absolute;
      font-size: 12px;
      color: rgba(0,0,0,.50);
      top: 8px;
      left: 12px;
      z-index: -1;
      transition: .15s all ease-in-out;
    }
    input {
      padding: 4px 12px;
      color: rgba(0,0,0,.70);
      border: 1px solid rgba(0,0,0,.12);
      transition: .15s all ease-in-out;
      background: white;
      &:focus {
        outline: none;
        transform: scale(1.05);
        & + label  {
          font-size: 10px;
          transform: translateY(-24px) translateX(-12px);
        }
      }
      &::-webkit-input-placeholder {
          font-size: 12px;
          color: rgba(0,0,0,.50);
          font-weight: 100;
      }
}*/

/* search br*/
.wrapme {
	/*width: 70%;*/
	/*max-width: 650px;*/
	width: 40vw;
}

@media (max-width: 480px) {
	.wrapme {
		width: 80vw;
	}
}
.search-bar {
	/*margin-top: 5em;*/
	/*background: #fff;*/
	background: #e3dbdb;
	margin-top: 0.5em;
	padding: 1em;
	/*width: 100%;*/
	border-radius: 10em;
	
	transition: box-shadow 300ms ease;
}

.search-bar input {
	width: 100%;
	border-style: none;
		
	color: inherit;
	background-color: transparent;

	padding-left: 1em;
	font-size: 1.3em;
}

.search-bar input:focus {
	outline: none;
}
